*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: my-cool-font;
}
@font-face {
    font-family: my-cool-font;
    src: url(./fonts/Outfit-Regular.ttf);
}